body {
	background-color: #343434;
	box-sizing: border-box;
	color: #757575;
	margin: 0;
}

#body-p {
	font-family: Helvetica;
}

nav {
	background-color: #151515;
	top: 0;
	height: 60px;
}

#navbar {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav #navbar-li {
	display: inline-block;
	padding-top:10px;
	color: #343434;
	/*font-size: 3em;*/
	line-height: 40px;
	height: 50px;
	font-family: Helvetica;
/*	border: solid 1px green;*/
	width: 150px;
}

nav #navbar-li::after {
/*	content: "|";*/
	margin-left: 5px;
}

#navbar-a {
	display: block;
	font-weight: bold;
	color: #1eb2f9;
	text-decoration: none;
	/*margin: 0 auto;*/
	height: 50px;
}

#navbar-a:hover {
	background-color: #343434;
	color: #f98d1e;
}

/* For those tabbers among us */
#navbar-a:focus {
	background-color: #343434;
	color: #f98d1e;
}

footer {
	background-color: #151515;
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;
}

#footer-p {
	text-align: center;
}

#footer-a {
	color: #757575;
	text-decoration: none;
}

#footer-a:hover {
	color: #a5a5a5;
}
#footer-a:focus {
	color: #a5a5a5;
}
