body {
	background-color: #1a1a1a;
	box-sizing: border-box;
	color: #757575;
	margin: 0;
}

body p {
	font-family: Helvetica;
}

nav {
	background-color: #1a1a1a;
	top: 0;
	height: 60px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	/*padding-top: 7px;*/
	text-align: center;
	font-size: 0px;
}

nav ul li {
	display: inline-block;
	/*padding-top:10px;*/
	top:0;
	padding: 0;
	/*color: #343434;*/
	font-size: 15px;
	/*line-height: 40px;*/
	height: 60px;
	font-family: Helvetica;
/*	border: solid 1px green;*/
	width: 150px;
}

nav ul li::after {
/*	content: "|";*/
	margin-left: 5px;
}

nav ul li a {
	display: block;
	font-weight: bold;
	padding-top:20px;
	color: #1eb2f9;
	text-decoration: none;
	/*margin: 0 auto;*/
	height: 40px;
	transition: .3s background-color;
}

nav ul li a:hover {
	color: #f98d1e;
}

/* For those tabbers among us */
nav ul li a:focus {
	color: #f98d1e;
}

/*.kindacenter {
	height: 25px;
}*/

.first-blockey {
	padding-top: 100px;
}

.parent-blockey {
	width: 75%;
	margin: auto;
	/*border-top: 1px solid #1f1f1f;*/
	border-bottom: 1px solid #343434;
}

.blockey {
	border-left: 1px solid #343434;
/*	border-right: 1px solid #343434;
	background-color: #151515;*/
}

.bigger-text {
	font-size: 18px;
}

.heading {
	display: block;
	padding-top: 3px;
	margin-left: 5px;
}

.blurb {
	display: block;
	padding-top: 3px;
	margin-left: 50px;
}

.blue-text {
	color: #1eb2f9;
}

.green-text {
	color: green;
}

.amber-text {
	color: #ff6600;
}

footer {
	background-color: #1a1a1a;
	position: absolute;
	bottom:0;
	width:100%;
	height:60px;
	margin: auto;
}

footer p {
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}

footer a {
	color: #757575;
	text-decoration: none;
}

footer a:hover {
	color: #a5a5a5;
}
footer a:focus {
	color: #a5a5a5;
}

@media screen and (max-width: 600px) {
	nav {
		height: 180px;
		background-color: #151515;
	}
	nav ul li {
		display: block;
		width: auto;
	}
	.first-blockey {
		padding-top: 0px;
	}
	.heading {
		padding-top: 0px;
	}
	footer {
		position: fixed;
		background-color: #151515;
		height: 40px;
	}
	footer p {
		padding-top: 0px;
	}
}
